<a href="https://colab.research.google.com/github/jiangenhe/insc-486-fall-2021/blob/main/assignment2/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSC 486 - Assignment 2

- Due: 10/01, Friday, 11:59 pm
- Submit your Colab link through Canvas
- This assignment is worth 90 points that accounts for 9% of your final grade.
- **Code efficiency will be considered in grading.**

Learning Objectives:
- Clean data
- Combine and merge datasets
- String manipulation
- Practice your pandas skills

## Part 1 Auto MPG Data (25 points)
The following exercise utilizes data from UC Irvine Machine Learning Repository. You can learn more about the dataset by [the link](https://archive.ics.uci.edu/ml/datasets/Auto+MPG).

### Step 1. Import the pandas and NumPy libraries

In [ ]:
import numpy as np
import pandas as pd

### Step 2. Import dataset cars1.csv to DataFrame cars1 (2 points)
You can load the dataset by the following URL without downloading the data.

https://raw.githubusercontent.com/jiangenhe/insc-486-fall-2021/main/assignment2/cars2.csv

pandas.read_csv can csv from any valid string path. The string could be a URL. Valid URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is expected.

### Step 3. car1 dataset has some unnamed blank columns. Fix cars1 dataset by removing these blank columns. (5 points)

   ### Step 4. Supposing clyinder is critical information in your analysis, so you need to remove rows where cylinder column is NaN (5 points)

### Step 5. Use the mean of displacement to fill NaN in displayment column. (5 points)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars (5 points)

cars2: https://raw.githubusercontent.com/jiangenhe/insc-486-fall-2021/main/assignment2/cars1.csv

### Step 7. What is the number of observations in each dataset? (3 points)

## Part 2 Merge datasets (25 points)

### Step 1. Import pandas

### Step 2. Create the 3 DataFrames based on the following raw data and assign each to a variable called data1, data2, data3

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Concatenate the two dataframes along rows and assign to varialbe called all (5 points)

### Step 4. Concatenate the two dataframes along columns and assing to variable called all_col (5 points)

### Step 5. Merge all and data3 along the subject_id value (5 points)

### Step 6. Merge only the data that has the same 'subject_id' on both data1 and data2 (5 points)

### Step 7. Merge all values in data1 and data2, with matching records from both sides where available. (5 points)

## Part 3 Chipotle (40 points)



### Step 1. Import pandas

### Step 2. Import the dataset from this link: https://raw.githubusercontent.com/jiangenhe/insc-486-fall-2021/main/assignment2/chipotle.tsv, and assign it to a variable called chipotle. (2 points)

### Step 3. How many products cost more than ten dolloars? (6%)
(Use item_name and choice_description to define a product)

### Step 4. Sort by the name of the item (4%)

### Step 5. What was the quantity of the most expensive item ordered? (6%)

### Step 6. How many times was a Veggie Soft Tacos ordered? (6%)

### Step 7. How many times did someone order more than one Canned Soda? (6%)

### Step 8. Create a coloumn for Salsa and remove salsa from choice_description. Which Salsa is the most popular one? (10%)