<a href="https://colab.research.google.com/github/jiangenhe/insc-486-fall-2021/blob/main/week7/week7_lecture_time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time Series

In [1]:
import numpy as np
import pandas as pd

## Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2021, 9, 28, 14, 5, 16, 559473)

In [3]:
now.year, now.month, now.day

(2021, 9, 28)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
delta.seconds

56700

### Converting Between String and Datetime

In [5]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [6]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [7]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [8]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [10]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [11]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [12]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.414563
2011-01-05    0.021004
2011-01-07   -1.530306
2011-01-08    0.813631
2011-01-10   -1.031645
2011-01-12    0.024042
dtype: float64

In [13]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

### Indexing, Selection, Subsetting

In [15]:
stamp = ts.index[2]
ts[stamp]

-1.5303057383727163

In [16]:
ts['1/10/2011']

-1.0316452976047992

In [17]:
ts['20110110']

-1.0316452976047992

In [18]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.823713
2000-01-02    1.099765
2000-01-03   -0.569516
2000-01-04   -0.569657
2000-01-05   -0.205433
                ...
2002-09-22    0.002740
2002-09-23    0.207270
2002-09-24    0.395960
2002-09-25   -1.056623
2002-09-26   -0.774872
Freq: D, Length: 1000, dtype: float64

In [19]:
longer_ts['2001']

2001-01-01   -0.517321
2001-01-02    1.067318
2001-01-03    0.538271
2001-01-04   -1.282841
2001-01-05    0.435453
                ...
2001-12-27    0.657047
2001-12-28   -1.332806
2001-12-29    0.293641
2001-12-30   -1.332813
2001-12-31   -0.675980
Freq: D, Length: 365, dtype: float64

In [20]:
longer_ts['2001-05']

2001-05-01   -1.364867
2001-05-02    0.812657
2001-05-03    1.394532
2001-05-04   -0.601794
2001-05-05    0.158632
2001-05-06   -0.607119
2001-05-07    0.678194
2001-05-08    0.440815
2001-05-09    0.672139
2001-05-10   -0.959870
2001-05-11    0.305855
2001-05-12   -1.285151
2001-05-13    0.005475
2001-05-14   -0.211649
2001-05-15   -2.204286
2001-05-16   -2.032790
2001-05-17    0.186352
2001-05-18    0.269215
2001-05-19    0.249310
2001-05-20    0.872497
2001-05-21    1.219683
2001-05-22    0.654999
2001-05-23    0.779309
2001-05-24   -0.219289
2001-05-25    1.387545
2001-05-26    0.342877
2001-05-27    0.542151
2001-05-28    0.299854
2001-05-29    1.303892
2001-05-30    0.356010
2001-05-31    0.982209
Freq: D, dtype: float64

In [21]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.530306
2011-01-08    0.813631
2011-01-10   -1.031645
2011-01-12    0.024042
dtype: float64

In [22]:
ts
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.530306
2011-01-08    0.813631
2011-01-10   -1.031645
dtype: float64

In [24]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.985645  0.943615 -2.621383 -1.632466
2000-01-12 -1.135404  1.166573 -1.276871 -0.322698
2000-01-19 -0.377248 -0.758435 -0.839681 -0.242692
2000-01-26  0.074051  1.132316 -0.556125  0.304962
2000-02-02  1.304074 -1.249057  0.972378 -0.835628
...              ...       ...       ...       ...
2001-10-31  1.613304 -0.065885 -0.899096 -0.290805
2001-11-07 -0.570371 -1.392782  0.151374 -0.930235
2001-11-14 -0.822286 -1.160561 -0.427753 -0.391430
2001-11-21  1.461354  1.259088  1.115633  1.294082
2001-11-28  1.060803 -0.951103  1.690954 -1.647420

[100 rows x 4 columns]

In [25]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.394457 -1.259683  0.892748  0.047127
2001-05-09 -0.968617 -2.328876 -0.406763  1.250001
2001-05-16 -1.345807 -1.306524  1.207847  0.479971
2001-05-23 -0.379074 -0.672725  0.082937  1.028597
2001-05-30 -0.570696  0.654505  1.052525  1.454131

### Time Series with Duplicate Indices

In [26]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [27]:
dup_ts.index.is_unique

False

In [28]:
dup_ts.groupby(level=0).sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int64

### Frequencies and Date Offsets

In [29]:
from pandas.tseries.offsets import Hour, Minute

In [30]:
four_hours = Hour(4)
four_hours

In [31]:
ts = pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')
ts

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [32]:
ts+four_hours

DatetimeIndex(['2000-01-01 04:00:00', '2000-01-01 08:00:00',
               '2000-01-01 12:00:00', '2000-01-01 16:00:00',
               '2000-01-01 20:00:00', '2000-01-02 00:00:00',
               '2000-01-02 04:00:00', '2000-01-02 08:00:00',
               '2000-01-02 12:00:00', '2000-01-02 16:00:00',
               '2000-01-02 20:00:00', '2000-01-03 00:00:00',
               '2000-01-03 04:00:00', '2000-01-03 08:00:00',
               '2000-01-03 12:00:00', '2000-01-03 16:00:00',
               '2000-01-03 20:00:00', '2000-01-04 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [33]:
ts + four_hours + Minute(3)

DatetimeIndex(['2000-01-01 04:03:00', '2000-01-01 08:03:00',
               '2000-01-01 12:03:00', '2000-01-01 16:03:00',
               '2000-01-01 20:03:00', '2000-01-02 00:03:00',
               '2000-01-02 04:03:00', '2000-01-02 08:03:00',
               '2000-01-02 12:03:00', '2000-01-02 16:03:00',
               '2000-01-02 20:03:00', '2000-01-03 00:03:00',
               '2000-01-03 04:03:00', '2000-01-03 08:03:00',
               '2000-01-03 12:03:00', '2000-01-03 16:03:00',
               '2000-01-03 20:03:00', '2000-01-04 00:03:00'],
              dtype='datetime64[ns]', freq='4H')

## Time Zone Handling

In [38]:
import pytz
pytz.common_timezones[:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre']

In [39]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [40]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.162732
2012-03-10 09:30:00    0.382577
2012-03-11 09:30:00   -0.413857
2012-03-12 09:30:00   -1.680880
2012-03-13 09:30:00   -1.046378
2012-03-14 09:30:00    0.118556
Freq: D, dtype: float64

In [ ]:
print(ts.index.tz)

None

In [41]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [44]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.162732
2012-03-10 09:30:00+00:00    0.382577
2012-03-11 09:30:00+00:00   -0.413857
2012-03-12 09:30:00+00:00   -1.680880
2012-03-13 09:30:00+00:00   -1.046378
2012-03-14 09:30:00+00:00    0.118556
Freq: D, dtype: float64

In [43]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.162732
2012-03-10 04:30:00-05:00    0.382577
2012-03-11 05:30:00-04:00   -0.413857
2012-03-12 05:30:00-04:00   -1.680880
2012-03-13 05:30:00-04:00   -1.046378
2012-03-14 05:30:00-04:00    0.118556
Freq: D, dtype: float64

### Operations with Time Zone−Aware Timestamp Objects

In [45]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [46]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [47]:
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [48]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [49]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## Periods and Period Arithmetic

In [50]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [51]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.085922
2000-02    1.884256
2000-03   -0.991876
2000-04    0.086399
2000-05    1.427486
2000-06    1.160591
Freq: M, dtype: float64

In [52]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Converting Timestamps to Periods (and Back)

In [ ]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29    0.818630
2000-01-30   -0.478903
2000-01-31    1.474002
2000-02-01   -1.010244
2000-02-02   -1.380709
2000-02-03    0.561331
Freq: D, dtype: float64

In [ ]:
pts = ts2.to_period('M')
pts

2000-01    0.818630
2000-01   -0.478903
2000-01    1.474002
2000-02   -1.010244
2000-02   -1.380709
2000-02    0.561331
Freq: M, dtype: float64

In [ ]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999    0.818630
2000-01-31 23:59:59.999999999   -0.478903
2000-01-31 23:59:59.999999999    1.474002
2000-02-29 23:59:59.999999999   -1.010244
2000-02-29 23:59:59.999999999   -1.380709
2000-02-29 23:59:59.999999999    0.561331
dtype: float64