<a href="https://colab.research.google.com/github/jiangenhe/insc-486-2021-spring/blob/main/assignment1/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSC 486 - Assignment 1

- Due: Feburary 12, Friday, 11:59 pm
- Submit your Colab link or ipynb file through Canvas
- This assignment is worth 100 points that accounts for 10% of your final grade.
- All the datasets are available on Canvas.

## Part 1: Read and process txt file (30%)

Load the standard web log file **logdata.txt**. This file records the access a user makes when visiting a web page (like this one!). Each line of the log has the following items:
* a host (e.g., '146.204.224.152') 
* a user_name (e.g., 'feest6811' **note: sometimes the user name is missing! In this case, use '-' as the value for the username.**)
* the time a request was made (e.g., '21/Jun/2019:15:45:24 -0700')
* the post request type (e.g., 'POST /incentivize HTTP/1.1' **note: not everything is a POST!**)

Your task is to convert this into a list of dictionaries, where each dictionary looks like the following:
```
example_dict = {"host":"146.204.224.152", 
                "user_name":"feest6811", 
                "time":"21/Jun/2019:15:45:24 -0700",
                "request":"POST /incentivize HTTP/1.1"}
```

In [ ]:
import re
def logs():
    with open("assets/logdata.txt", "r") as file:
        logdata = file.read()
    
    # YOUR CODE HERE 
    # The solution should be written within the function body given, and the final result should be returned.

In [ ]:
# You can use the following code to validate your answers 

assert len(logs()) == 979

one_item={'host': '146.204.224.152',
  'user_name': 'feest6811',
  'time': '21/Jun/2019:15:45:24 -0700',
  'request': 'POST /incentivize HTTP/1.1'}
assert one_item in logs(), "Sorry, this item should be in the log results, check your formating"

## Part 2: Numpy (30%)

### Question 1

Load the **winequality-red.csv** file by using numpy.genfromtxt method. Keep the names for the columns.

### Question 2

Supposing the quality column is on a scale of 10 points, transform the quality column on a scale of 100 points.

### Question 3

Separate the wine data into a low quality class (quality $\leq5$) and a high quality class (quality $>5$), find the mean and standard deviation for  ''residual sugar'', ''total sulfur dioxide'' and ''alcohol'' for the two classes. Based on the statistical information, describe the most different properties of low quality red wines and high quality red wines. 

  (*Add text cell or use comment in code cell to write your description*)

## Part 3: Pandas (40%)

The following code loads the olympics dataset (**olympics.csv**), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. Use this dataset to answer the questions below.

In [ ]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Afghanistan        13     0       0  ...         2               2  AFG
Algeria            12     5       2  ...         8              15  ALG
Argentina          23    18      24  ...        28              70  ARG
Armenia             5     1       2  ...         9              12  ARM
Australasia         2     3       4  ...         5              12  ANZ

[5 rows x 16 columns]

### Question 1
Which country has won the most gold medals in winter games?

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

### Question 3
Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? Only include countries that have won at least 1 gold in both summer and winter.

### Question 4
Write code to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 4 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.

*The answer should be a Series named of length 146*