<a href="https://colab.research.google.com/github/jiangenhe/insc-486-2021-spring/blob/main/week6/Lab_6_data_aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 6: Data Aggregation

In [ ]:
import pandas as pd

stadiums = pd.read_csv("https://raw.githubusercontent.com/jiangenhe/insc-486-2021-spring/main/week6/stadiums.csv")
stadiums.head()

     id      lat      lon  ...                   team capacity  year
0  s010  43.1532 -76.2116  ...    Grand National Race    75000  1829
1  s600  46.1500 -60.1667  ...        Sydney Swans FC    44000  1851
2  s353  28.0782 -80.7534  ...              Multi-use   100000  1853
3  s261  38.2133 -84.2256  ...       Horse Racing-use    50000  1857
4  s462  22.5697  88.3697  ...  Kolkata Knight Riders    90000  1864

[5 rows x 9 columns]

1.  Split dataframe 'df' into groups based on country and get mean, min, and max value of capacity for each country.

2. Select stadiums from USA

3. Group stadiums in USA by decades (like 1900, 1910, 1920,...) and get the numbers of stadiums built for each deacde.

4. Group stadiums by Northern/Southern Hemisphere and country, and show the capacity of the largest stadium in each country

Nothern Hemisphere: lat>0

Southern Hemisphere: lat<0

5. Remove countries without a stadium larger than 80,000 from the result of question 4.

6. Use program (not by your observation) to find the country with largest stadium in each hemisphere.