<a href="https://colab.research.google.com/github/jiangenhe/insc-486-fall-2021/blob/main/week4/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a pandas series from each of the items below: a list, numpy and a dictionary

In [ ]:
import numpy as np
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

2. Use loc, iloc, and [] to read 4th value in the series created from mydict.

3. Use the following DataFrame to answer questions

In [ ]:
import pandas as pd

p = pd.DataFrame({
    "Rank": range(1,11),
    "State": ["CA", "TX", "FL", "NY", "IL", "PA", "OH", "GA", "NC", "MI"],
    "Population": [39.5, 29.0, 21.5, 19.5, 12.8, 12.7, 11.7, 10.6, 10.5, 10.0],
    "Land Area": [155973, 261914, 53997, 47224,55593,44820, 40953, 57919, 48718, 56539]
})

p.index = p['State']
p

       Rank State  Population  Land Area
State
CA        1    CA        39.5     155973
TX        2    TX        29.0     261914
FL        3    FL        21.5      53997
NY        4    NY        19.5      47224
IL        5    IL        12.8      55593
PA        6    PA        12.7      44820
OH        7    OH        11.7      40953
GA        8    GA        10.6      57919
NC        9    NC        10.5      48718
MI       10    MI        10.0      56539

1. The total population of the ten states

2. Multiply the popoluation column with 1,000,000

3. Read PA's population

4. Read Land Area and Population of PA and NY.

5. How many states with more than 11 million people?

6. Change the index of the DataFrame to Rank

7. The total population of states with more than 12 million people or with a  land area larger than 50000 square miles.